*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}  

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
small {
  font-size: 80%;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
.text-muted {
    color: rgba(255, 255, 255, 0.7);
}
.text-center{
    text-align:center !important;
}
.align-bottom{
  vertical-align: sub !important;
}

html>*{
    background-color: #24B8EE;
    color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    cursor: pointer;
}
.logo img{
    height: 30vh;
    max-height: 150px;
}
.logo h1{
    font-size: 50px;
}
.search{
    border-radius: 10px;
    background: #24B8EE;
    box-shadow:  5px 5px 10px #1f9cca, 
                 -5px -5px 10px #29d4ff;
    color: white;
    padding: 10px;
    gap: 10px;
    width: 300px;
    animation-name: box-hover-reverse;
    animation-duration: 0.5s;
    display: inline-flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.search>*{
    font-size: 20px;
    border: none;
    background:none;
    color: inherit;
}
.search input{width: 100%; outline: none;}
*::selection{
  background: rgba(255, 255, 255, 0.3)
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(icons.woff2) format('woff2');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: initial;
  }

.search::placeholder {
    font-family: 'Material Icons';
    opacity: 1; 
  }

html.searching .search{
    width: 100%;
    animation-name: expand-width;
    animation-duration: 0.25s;
}
@keyframes expand-width{
    from{width: 300px; margin-top:50vh}
    to{width: 100%;}
}
html.searching .logo{
    position: absolute;
    animation-name: logo-slide;
    animation-duration: 0.25s;
    left: 0;
    right: 0;
    visibility: hidden;
}
@keyframes logo-slide{
    from{top: 0; visibility: visible;}
    to{top: -75vh; visibility: visible;}
}

html.not-searching .search{
  animation-name: min-width;
  animation-duration: 0.25s;
}
@keyframes min-width{
  to{width: 300px; margin-top:50vh}
  from{width: 100%;}
}
html.not-searching .logo{
  animation-name: logo-slide-r;
  animation-duration: 0.25s;
  left: 0;
  right: 0;
  visibility: visible;
}
@keyframes logo-slide-r{
  to{top: 0; position: absolute;}
  from{top: -75vh; position: absolute;}
}

.card{
  border-radius: 10px;
  background: #24B8EE;
  box-shadow: inset 5px 5px 10px #1f9cca, 
              inset -5px -5px 10px #29d4ff;
  animation-duration: 0.5s;
  text-align: left;
  padding: 16px;
  display: flex;
}
.card img{
  width: 40%;
  max-width: 100px;
  margin-left: auto;
}
#results{
  display:grid;
  margin-top: 30px;
  display: none;
  grid-template-columns: 100%;
  gap: 15px;
  margin-bottom: 20px;
  align-items: stretch;
}
@media (min-width: 576px) { #results{grid-template-columns: repeat(2, 1fr);} }
@media (min-width: 768px) { #results{grid-template-columns: repeat(3, 1fr);} }
@media (min-width: 992px) { #results{grid-template-columns: repeat(4, 1fr);} }


html.searching #results{
  display: grid;
}

.no-results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
}
.no-results p{
  font-size: 5rem;
  font-family: "Material Icons";
  margin-bottom: 0;
}
#info{
  display: none;
  border-radius:30px 30px 0 0;
  background: #24B8EE;
box-shadow:  28px 28px 56px #1f9cca, 
             -28px -28px 56px #29d4ff;
  width: 100%;
  position:fixed;
  bottom: 0;
  z-index: 6;
  padding: 20px;
  overflow: scroll;
  max-height: 80vh;
}
#info-scrim{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(36,184,238,.5);
  z-index: 2;
}
.symbols{
  display: flex;
  justify-content: center;
  text-align:center;
  gap: 20px;
  flex-wrap: wrap;
}
.symbols img{
  height: 3rem;
}
.symbols>*{
  flex-grow: 100;
}
.symbols p{
  max-width: 300px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
.card:active{
  box-shadow: inset 11px 11px 22px #1f9cca, 
  inset -11px -11px 22px #29d4ff;
  transform: scale(0.99)
}